<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeisanKanri.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SeisanKanri.Properties.Settings.TmPmDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TmPmDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SeisanKanri.Properties.Settings.TmDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TmDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SeisanKanri.Properties.Settings.C__USERS_YOSHI_SOURCE_REPOS_TAKAGIMOKKOU_TMDB_MDFConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\USERS\YOSHI\SOURCE\REPOS\TAKAGIMOKKOU\TMDB.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SeisanKanri.Properties.Settings>
            <setting name="TkgName" serializeAs="String">
                <value>高木木工株式会社</value>
            </setting>
            <setting name="TkgAddress" serializeAs="String">
                <value>〒444-0011 愛知県岡崎市欠町字下口2番地</value>
            </setting>
            <setting name="TkgTelFax" serializeAs="String">
                <value>TEL 0564-21-0058  FAX 0564-21-5236</value>
            </setting>
            <setting name="TkgEmail" serializeAs="String">
                <value>E-mail  takagi.m.k@way.ocn.ne.jp</value>
            </setting>
            <setting name="OoinoName" serializeAs="String">
                <value>株式会社 大井野木製作所</value>
            </setting>
            <setting name="ConnectStr" serializeAs="String">
                <value />
            </setting>
            <setting name="ProFName" serializeAs="String">
                <value />
            </setting>
        </SeisanKanri.Properties.Settings>
    </userSettings>
</configuration>